[Unit]
Description=fan control

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/home/hiwonder/ros_ws/src/hiwonder_bringup/scripts/fan_control.py
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
